/**
 * @name tsukuyomi
 * @author Максим Бля я дальше не придумал
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/28668-tsukuyomi.html
 * @authorLink https://vsthemes.org/user/%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC+%D0%91%D0%BB%D1%8F+%D1%8F+%D0%B4%D0%B0%D0%BB%D1%8C%D1%88%D0%B5+%D0%BD%D0%B5+%D0%BF%D1%80%D0%B8%D0%B4%D1%83%D0%BC%D0%B0%D0%BB/
 * @authorId 41444
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 56,0,0;
    --transparencyalpha: 0.05;
    --messagetransparency: 0.05;
    --guildchanneltransparency: 0.05;
    --memberlistransparency: 0.05;
    --accentcolor: 255,0,0;
    --background: url("https://vsthemes.org/uploads/posts/2021-03/1616187739_8a39239190d2def2f51012d722b1f7cd.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}